body {
  color: $base-font-color;
  font-family: $base-font-family;
  //font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include for-size(mobile-only) {
    font-size: $base-font-size/1.125;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black-color;
  line-height: $heading-line-height;
  font-weight: 400;
  text-decoration: underline;
}

h1, h2 {
  margin: $base-spacing 0;
}

p {
  margin-bottom: $base-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: underline;
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: $base-spacing 0 $base-spacing $base-spacing;
  margin: $base-spacing 0;
  color: $dark-gray-color;
  line-height: 1.8;
  border-left: $small-spacing solid $light-gray-color;
  background-color: lighten($light-gray-color, 15%);
  p {
    margin: 0;
  }
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: "SFMono-Regular", Menlo, Consolas, "Inconsolata", monospace;
  font-size: 1em;
  margin: 0;
  padding: 0 5px;
  background-color: lighten($light-gray-color, 13%);
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "SFMono-Regular", Menlo, Consolas, "Inconsolata", monospace;
  font-size: 1em;
  margin: 0;
  padding: 5px 10px !important;
  overflow: auto;
  max-height: 60em;
  white-space: pre;
  border: 1px solid $light-gray-color;
  code {
    line-height: 1.75em;
    padding: 0 !important;
  }
}

strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}
