---
layout: project
title: AMe 컨셉 소개 영상
lang: ko
ref: ame
---
    
{% include project-video.html videoid="S16Y5btLSB4" %}
<br>
<h2>UX 컨셉 포인트</h2>
<p>AMe의 가장 큰 차별점은 360도 카메라를 웨어러블 형태로 만들어 실제 1인칭 시점으로 영상을 촬영할 수 있다는 것입니다. 이러한 기술적 우위를 활용해 사용자에게 어떤 가치를 제공할 수 있을지에 대해 UX 관점에서 고민하여 시나리오를 도출하는 것이 본 프로젝트에서의 첫 번째 과제였고, 이에 1) 되새김, 2) 공유, 3) 경험을 AMe의 컨셉 포인트로 제시했습니다.</p>
{% include project-image.html filename="concepts" alt="AMe UX 컨셉 포인트" title="AMe UX 컨셉 포인트" %}
<p>1) 되새김: AMe로 촬영한 영상을 VR 기기로 재생하여 해당 시점으로 돌아갈 수 있습니다.<br>2) 공유: AMe 모바일 어플리케이션을 통해 이전에 촬영했던 영상들을 모아보고 소셜미디어로 쉽게 공유할 수 있습니다.<br>3) 경험: 다른 사용자가 AMe로 촬영한 영상을 자신의 VR 기기로 재생하여 타인의 경험을 간접 체험할 수 있습니다.</p>

<h2>아트웍</h2>
<p>AMe로 촬영한 부분들이 돋보이게끔 컨셉 설명을 위한 아트웍에선 실사 느낌을 최대한 배제하고 색지 위에 색연필로 그린 듯한 느낌으로 제작했습니다.</p>
{% include project-image.html filename="artwork-1" alt="AMe 컨셉 소개 영상 아트웍" title="AMe 컨셉 소개 영상 아트웍" %}
{% include project-image.html filename="artwork-2" alt="AMe 컨셉 소개 영상 아트웍" title="AMe 컨셉 소개 영상 아트웍" %}
{% include project-image.html filename="artwork-3" alt="AMe 컨셉 소개 영상 아트웍" title="AMe 컨셉 소개 영상 아트웍" %}
{% include project-image.html filename="artwork-4" alt="AMe 컨셉 소개 영상 아트웍" title="AMe 컨셉 소개 영상 아트웍" %}