---
layout: project
title: GOPAX 프레스킷
lang: ko
ref: gopax
---

{% include project-image.html filename="brochure-1" alt="GOPAX 브로슈어" title="GOPAX 브로슈어" %}
{% include project-image.html filename="brochure-2" alt="GOPAX 브로슈어 안쪽면" title="GOPAX 브로슈어 안쪽면" %}
{% include project-image.html filename="brochure-3" alt="GOPAX 브로슈어 바깥면" title="GOPAX 브로슈어 바깥면" %}
{% include project-image.html filename="folder-1" alt="GOPAX 프레젠테이션 폴더" title="GOPAX 프레젠테이션 폴더" %}
{% include project-image.html filename="folder-2" alt="GOPAX 프레젠테이션 폴더 외 and sheets" title="GOPAX 프레젠테이션 폴더 외" %}
{% include project-image.html filename="folder-3" alt="GOPAX 프레젠테이션 폴더 뒷면" title="GOPAX 프레젠테이션 폴더 뒷면" %}