---
layout: project
title: LINE 키즈폰
lang: ko
ref: line-kids-phone
css: [ owl.carousel.min, owl.theme.min ]
js: [ jquery-3.2.1.min, owl.carousel.min ]
---

{% include project-image.html filename="cover" alt="LINE 키즈폰" title="LINE 키즈폰" %}

<h2>UX</h2>
<p>LINE 키즈폰의 UX 설계는 가장 근본적인 질문에서부터 시작되었습니다. "아이들을 위한 웨어러블 기기의 UX는 어떤 형태를 띄어야 할까?" 각 기능들에 대한 접근성을 높이기 위해 대표 기능들의 수를 제한하고 화면 진입 단계를 최소화한 횡방향 위젯 스트림 시스템을 제안하였습니다.</p>
{% include works/line-kids-phone-carousel.html %}
{% include project-image.html filename="device-flow-desktop" onmobile="hide" alt="LINE 키즈폰 UX 흐름도" title="LINE 키즈폰 UX 흐름도" %}
{% include project-image.html id="line-device-flow-mobile" filename="device-flow-mobile" onmobile="show" alt="LINE 키즈폰 UX 흐름도" title="LINE 키즈폰 UX 흐름도" %}
{% include project-video.html videoid="vSTIn-Z_mVk" %}