---
layout: project
title: 룩시드랩스 CI
lang: ko
ref: looxid-labs
---

{% include project-image.html filename="cover" alt="룩시드랩스" title="룩시드랩스" %}

<h2>CI</h2>
<p>융합의 개념을 상징함과 동시에 최첨단 기술, 에너지 넘치는 룩시드랩스의 정신을 담아내는 것을 목표로 시각 아이덴티티를 정립했습니다.</p>
<div class="looxid-labs-logo" title="룩시드랩스 로고">
    {% include project-image.html filename="ci-light" alt="룩시드랩스 로고 - 밝은 배경색" %}
    {% include project-image.html filename="ci-dark" alt="룩시드랩스 로고 - 어두운 배경색" %}
</div>
{% include project-image.html filename="ci-guide" alt="룩시드랩스 CI 가이드라인" title="룩시드랩스 CI 가이드라인" %}
{% include project-image.html filename="ci-business-card" alt="룩시드랩스 명함" title="룩시드랩스 명함" %}

<h2>PC 어플리케이션 UX/GUI</h2>
<p>LUCY는 시선-뇌파 인터페이스 헤드셋 LX-I의 사용을 위한 윈도우용 PC 어플리케이션입니다. 여러 개의 위젯들로 구성되는 형태로 설계해 사용자가 원하는 신호의 그래프만 선택적으로 켜고 끌 수 있도록 디자인했습니다. CI와의 일관성을 유지하면서 대중적으로 친숙한 느낌을 줄 수 있도록 밝은 색상과 곡선 위주의 그래픽 요소들을 사용했습니다.</p>
{% include project-image.html filename="app-sketches" alt="LUCY 초기 스케치" title="LUCY 초기 스케치" %}
{% include project-image.html filename="app-ux-planning" alt="LUCY UX 기획안" title="LUCY UX 기획안" %}
{% include project-image.html filename="app-screens-desktop" onmobile="hide" alt="LUCY: LX-I PC 어플리케이션" title="LUCY: LX-I PC 어플리케이션" %}
{% include project-image.html filename="app-screens-mobile" onmobile="show" alt="LUCY: LX-I PC 어플리케이션" title="LUCY: LX-I PC 어플리케이션" %}