---
layout: project
title: 룩시드링크
lang: ko
ref: looxid-link
---

{% include project-video.html videoid="__Rng-8NZjk" %}
<br>
<h2>제품 홈페이지</h2>
<p>룩시드링크 홈페이지는 제품 소개와 판매 뿐만 아니라 사용설명서, 고객지원, 어플리케이션 다운로드, 행사 소식 알림 등 제품과 관련된 모든 정보를 제공하는 허브로서의 역할을 하도록 기획됐습니다. 랜딩 페이지의 첫 번째 섹션에는 제품 소개 영상 하이라이트와 슬로건을 함께 표시해 사이트에 접속한 사용자의 시선을 잡아끌고 흥미를 유발하게끔 하였고, 이어지는 하단에 제품 컨셉 키워드 visualize, interact, analyze에 해당하는 예시들을 삽입했습니다. 그 외에도 제품의 시스템 구조도, 행사/협업 소식, 제품 특장점 및 사양, 파트너/고객사 소개 등이 동일한 스크롤 내에서 이루어지게 기획하고 디자인했습니다.</p>
<p>모든 페이지는 반응형으로 제작됐으며, 행사 홍보, 제품 주문 관리, 고객지원 등 회사 내 여러 팀들의 업무와 연계되기 때문에 각 담당자들의 쉬운 업무 처리를 위해 워드프레스 기반으로 제작하였습니다.</p>
{% include project-image.html filename="website-1" alt="룩시드링크 홈페이지" title="룩시드링크 홈페이지" %}
{% include project-image.html filename="website-2" alt="룩시드링크 모바일 홈페이지" title="룩시드링크 모바일 홈페이지" %}

<h2>PC 어플리케이션</h2>
<p>룩시드링크를 사용하려면 기기를 장착한 VR 헤드셋이 연결된 PC에서 전용 어플리케이션을 실행해야 합니다. 뇌파 데이터의 송수신을 위해 반드시 필요한 소프트웨어이지만, UI로 드러나는 기능은 많지 않기 때문에 작업표시줄이 아닌 시스템 트레이에서 구동되게 기획했습니다.</p>
<p class="subsection">시스템 트레이의 룩시드링크 아이콘을 클릭하면 기기와 VR 어플리케이션의 연결 상태를 확인할 수 있는 UI가 표시됩니다. 메인 UI가 숨겨져있는 경우에도 기기나 VR 어플리케이션이 연결되거나 끊기면 알림 영역에 토스트 메시지를 표시해 사용자가 연결 상태의 변화를 쉽게 파악할 수 있도록 하였습니다.</p>
{% include project-image.html filename="link-core-1" alt="룩시드링크 코어" title="룩시드링크 코어" %}
{% include project-image.html filename="link-core-2" alt="룩시드링크 코어 토스트 메시지" title="룩시드링크 코어 토스트 메시지" %}
<p class="subsection">전원 케이블이 연결된 PC에서 제품을 사용하는 경우 뇌파 전극에 전원 노이즈가 전달되어 정상적인 데이터 분석이 어렵기 때문에 어플리케이션 내에서 필터를 통해 노이즈를 제거해야 합니다. 국가마다 사용하는 전원 주파수에 차이가 있어 설치 과정에서 사용자가 직접 본인의 환경에 맞는 필터 값을 선택할 수 있도록 하였으며, 설치 이후에도 설정 메뉴를 통해 언제든 쉽게 변경할 수 있게 디자인했습니다.</p>
{% include project-image.html filename="link-core-3-1" alt="룩시드링크 코어 설치 마법사" title="룩시드링크 코어 설치 마법사" %}
{% include project-image.html filename="link-core-3-2" alt="룩시드링크 코어 설정 메뉴" title="룩시드링크 코어 설정 메뉴" %}

<h2>데모 어플리케이션 (VR)</h2>
<p>VR 환경에서 뇌파 데이터를 활용할 수 있는 예시를 보여주기 위해 제작된 데모 어플리케이션들의 UI 일부를 디자인하였습니다.</p>
<p class="subsection">첫 번째 데모인 인터랙션 플레이그라운드는 미니게임 형태의 어플리케이션으로, 사용자의 집중도 또는 안정도 수치에 따라 공간 내의 물체들이 바닥으로 떨어지거나 빛을 내며 공중으로 떠오르는 집중/안정 훈련 프로그램입니다. 훈련 중 VR 내에서 본인의 현재 두뇌 활성도, 집중도, 안정도 등의 수치와 개별 뇌파 센서 전극의 연결 상태, 뇌파 신호 그래프를 확인할 수 있는 UI를 디자인하였습니다.</p>
{% include project-image.html filename="demo-1-1" alt="룩시드링크 데모 어플리케이션 - 인터랙션 플레이그라운드" title="룩시드링크 데모 어플리케이션 - 인터랙션 플레이그라운드" retina="none" %}
{% include project-image.html filename="demo-1-2" alt="룩시드링크 데모 어플리케이션 - 인터랙션 플레이그라운드" title="룩시드링크 데모 어플리케이션 - 인터랙션 플레이그라운드" retina="none" %}
<p class="subsection">두 번째 데모인 VR 마인드케어는 뉴로피드백 기반의 명상 어플리케이션으로, 해당 데모 제작 시 화면 중앙에 표시되는 호흡 가이드를 디자인하였습니다. 호흡 가이드 애니메이션은 사용자가 본인의 호흡을 통제하고 안정도 수치를 확인하여 명상에 더욱 집중할 수 있도록 하기 위한 것으로, 가이드의 움직임에 따라 숨을 들이마시고 내뱉어 볼 수 있도록 만들었으며 안정도 수치가 높으면 가이드 색상을 옅은 녹색으로, 낮으면 옅은 빨간색으로 표시해 사용자가 실시간으로 본인의 안정 상태를 확인할 수 있게 하였습니다.</p>
{% include project-image.html filename="demo-2-1" alt="룩시드링크 데모 어플리케이션 - VR 마인드케어" title="룩시드링크 데모 어플리케이션 - VR 마인드케어" retina="none" %}
{% include project-image.html filename="demo-2-2" alt="룩시드링크 데모 어플리케이션 - VR 마인드케어" title="룩시드링크 데모 어플리케이션 - VR 마인드케어" retina="none" %}

<h2>SDK 문서</h2>
<p>제품을 구매한 사용자들이 손쉽게 본인의 VR 어플리케이션에 뇌파 데이터를 연결해 볼 수 있도록 돕는 SDK 문서 페이지를 제작했습니다. 소프트웨어팀에서 작성한 초안을 기반으로 문서의 전체 구성을 정리한 뒤 웹페이지 형태로 디자인했습니다. GitHub을 통해 SDK의 버전 관리와 배포가 이루어졌기 때문에 문서 페이지 또한 같은 repo로 퍼블리싱했습니다.</p>
{% include project-image.html filename="documentation-1" alt="룩시드링크 SDK 문서 페이지" title="룩시드링크 SDK 문서 페이지" %}
{% include project-image.html filename="documentation-2" alt="룩시드링크 SDK 문서 모바일 페이지" title="룩시드링크 SDK 문서 모바일 페이지" %}

<h2>제품 브로슈어</h2>
<p>VRX 2019를 비롯한 각종 글로벌 행사들에서 룩시드랩스 부스를 찾은 방문객들에게 제품을 소개할 수 있도록 브로슈어를 디자인했습니다. 제작 용이성과 휴대성을 고려해 A5 판형을 채택했으며, 이에 맞추어 제품 홈페이지의 컨텐츠들을 재구성하여 배치했습니다.</p>
{% include project-image.html filename="brochure-1" alt="룩시드링크 브로슈어" title="룩시드링크 브로슈어" %}
{% include project-image.html filename="brochure-2" alt="룩시드링크 브로슈어" title="룩시드링크 브로슈어" %}
{% include project-image.html filename="brochure-3" alt="룩시드링크 브로슈어" title="룩시드링크 브로슈어" %}

<h2>제품 패키지</h2>
<p>가볍고 다양하게 활용할 수 있는 개발 키트로서의 DIY 컨셉을 강조하기 위해 크래프트지 위에 1도 인쇄하는 방식으로 패키지를 기획했습니다. 상자의 개봉부에는 제품 로고가 인쇄된 띠 형태의 보안스티커를 부착해 포장을 마무리하도록 하였으며, 추후 재고 적재나 유통이 수월하게끔 본품용 상자와 소모품인 뇌파 전극 마스크용 상자를 같은 크기로 디자인했습니다.</p>
{% include project-image.html filename="package-1" alt="룩시드링크 패키지" title="룩시드링크 패키지" %}
{% include project-image.html filename="package-2" alt="룩시드링크 패키지" title="룩시드링크 패키지" %}