---
layout: project
title: 룩시드VR
lang: ko
ref: looxid-vr
sitemap:
  priority: 0.5
---

{% include project-image.html filename="cover" alt="룩시드VR" title="룩시드VR" %}

<h2>데스크탑 어플리케이션</h2>
<p>룩시드VR 헤드셋으로 생체신호를 수집하려면 기기와 함께 데스크탑 어플리케이션을 사용해야 합니다. 사용자는 이를 통해 기기 연결 상태를 확인하고 생체신호 데이터를 저장할 수 있으며, 실시간 신호 모니터링과 실험 정보 확인 또한 가능합니다.</p>
{% include project-image.html filename="desktop-application-expanded" alt="룩시드VR 데스크탑 어플리케이션" title="룩시드VR 데스크탑 어플리케이션"%}
<p class="subsection">화면의 중앙과 오른쪽으로 표시되는 신호 그래프(시선, 뇌파, 헤드셋 가속도)는 저장되는 데이터의 품질을 실시간으로 모니터링할 수 있게 보조적으로 표시되는 정보이나, 많은 데이터를 동시에 화면 위에 렌더해야 하기 때문에 사용자의 컴퓨터 사양에 따라 메모리에 과부하를 일으킬 수도 있습니다. 이러한 문제를 해결하기 위해 사용자가 본인의 필요에 맞추어 해당 영역을 접거나 펼칠 수 있게 하고, 기기 연결 상태나 시스템 메시지와 같은 필수적인 정보들은 항상 확인할 수 있도록 좌측 영역에 배치했습니다. 우측 영역을 접어둔 상태로 실험을 진행해도 데이터는 모두 정상적으로 저장됩니다.</p>
<div class="looxidvr-desktop-application-view" title="룩시드VR 데스크탑 어플리케이션">
    {% include project-image.html filename="desktop-application-expanded" alt="룩시드VR 데스크탑 어플리케이션 - 펼친 화면" %}
    {% include project-image.html filename="desktop-application-collapsed" alt="룩시드VR 데스크탑 어플리케이션 - 접은 화면" %}
</div>
<p class="subsection">원활한 뇌파 데이터 측정을 위해 실제 뇌전도값을 측정하는 raw signal 모드와 함께 피부 저항값을 측정하는 impedance 모드를 제공합니다. 피부 저항값이 높은 상태에서 수집되는 데이터는 신뢰도가 떨어지므로, 본격적인 데이터 측정 이전에 impedance 모드를 통해 저항값이 충분히 낮은지 확인하는 것을 권장합니다. 측정 모드에 따라 사용할 수 있는 옵션이 다르고 측정값의 단위나 각 값에서 얻을 수 있는 정보의 종류 또한 다르기 때문에 디자인에도 차이를 두었습니다. 특히 각 뇌파 센서 채널의 상태 표시 방식에 가장 큰 차이가 있는데, raw signal 모드에서는 단순히 센서가 착용자의 피부에 접촉돼있는지 여부만 구분할 수 있어 초록색과 빨간색 두 가지로 표시하지만 impedance 모드에서는 저항값의 크기에 따라 색이 연속적으로 변하기 때문에 각 채널의 상태를 보다 정확하게 파악할 수 있습니다.</p>
{% include project-image.html filename="desktop-application-modes" alt="룩시드VR 데스크탑 어플리케이션 - raw signal 모드 / impedance 모드" title="룩시드VR 데스크탑 어플리케이션 - raw signal 모드 / impedance 모드"%}
<p class="subsection">사람마다 눈의 크기와 형태, 눈동자의 색깔, 속눈썹 길이 등이 모두 다르기 때문에 정확한 시선 추적을 위해 파라미터 조정이 필요할 수 있습니다. 각 파라미터의 값을 조정함에 따라 인식되는 눈동자 영역이 어떻게 변하는지 바로 확인할 수 있도록 설정 창에 시선 추적 카메라 영상을 포함했으며, 해당 창이 열려있는 상태에서는 메인 화면의 영상이 중복되어 뜨지 않게 처리했습니다.</p>
{% include project-image.html filename="desktop-application-pupil-parameters" alt="룩시드VR 데스크탑 어플리케이션 - pupil parameters" title="룩시드VR 데스크탑 어플리케이션 - pupil parameters"%}
<p class="subsection">연결되는 기기와 센서들이 많고 다양한 기능이 제공되므로 표시돼야 하는 메시지의 종류도 여러가지입니다. 각 메시지의 성격과 표시돼야 하는 상황에 따라 컨펌(confirm)/얼럿(alert) 모달, 툴팁, 토스트 메시지 등 적합한 형식을 적용하였습니다.</p>
{% include project-image.html filename="desktop-application-messages" alt="룩시드VR 데스크탑 어플리케이션 - 컨펌 모달 / 툴팁 / 토스트 메시지" title="룩시드VR 데스크탑 어플리케이션 - 컨펌 모달 / 툴팁 / 토스트 메시지"%}
<p class="subsection">샘플링레이트나 측정 모드를 변경하는 경우, 어플리케이션 업데이트를 진행하는 경우 등에는 일시적으로 다른 기능을 사용할 수 없습니다. 이 때 사용자가 상황을 명확하게 인지할 수 있게 모달 창에 진행 상태 애니메이션(progress indicator)과 메시지를 함께 표시하도록 디자인했습니다.</p>
{% include project-image.html filename="desktop-application-modal-message" alt="룩시드VR 데스크탑 어플리케이션 - 프로그레스 모달" title="룩시드VR 데스크탑 어플리케이션 - 프로그레스 모달"%}

<h2>커뮤니케이션 디자인</h2>
<p>제품의 홍보와 행사 참여를 위해 홈페이지, 브로슈어, 부스 등을 제작했습니다. 시각 이미지가 일관적으로 전달되게끔 데스크탑 어플리케이션에서와 같은 색상과 서체를 적용했으며, 홈페이지의 컨텐츠를 브로슈어와 부스 내 홍보물에도 최대한 동일하게 포함하면서 매체별 판형이나 구조에 따라 표시 방식과 배치를 변경해 위화감이 없도록 디자인하였습니다.</p>
{% include project-image.html filename="website-1" alt="룩시드VR 홈페이지" title="룩시드VR 홈페이지" %}
{% include project-image.html filename="website-2" alt="룩시드VR 모바일 홈페이지" title="룩시드VR 모바일 홈페이지" %}
{% include project-image.html filename="brochure-1" alt="룩시드VR 브로슈어" title="룩시드VR 브로슈어" %}
{% include project-image.html filename="brochure-2" alt="룩시드VR 브로슈어" title="룩시드VR 브로슈어" %}
{% include project-image.html filename="sfn2018" alt="룩시드랩스 @ SfN 2018" title="룩시드랩스 @ SfN 2018" %}
