---
layout: project
title: MEMO (2022)
lang: ko
ref: memo-2022
sitemap:
  priority: 0.5
---

{% include project-image.html filename="cover" alt="MEMO (2022)" title="MEMO (2022)" %}

<h2>사용자 리서치</h2>
<p>생활 심전도 검사(홀터검사)는 다양한 의학적 검사 중에서도 특수한 축에 속하며 관련된 규제와 이해관계 또한 복잡하게 얽혀있어 도메인 지식 습득과 심도 깊은 사용자 리서치의 선행이 필수적이었습니다.</p>
<p class="subsection">리서치의 첫 번째 단계로 생활 심전도 검사를 처방하는 순환기내과 병원들의 환경을 파악하고 심혈관질환 의심 환자의 일반적인 초진 및 검사 과정을 이해하기 위해 직접 가까운 병원에 방문해 진료를 받았습니다. 이 과정에서 얻은 이해와 정보들을 토대로 이후 단계인 사용자 인터뷰를 보다 깊이 있게 진행할 수 있었습니다.</p>
{% include project-image.html filename="field-research" alt="순환기내과의원 필드 리서치" title="순환기내과의원 필드 리서치" %}
<p class="subsection">진료 - 검사 처방 - 진단의 과정에 직간접적으로 관여하는 사람들을 의사, 임상병리사, 환자, 간호사, 환자 보호자의 총 5개 그룹으로 분류하고, 이에 따라 사용자 인터뷰를 설계, 진행했습니다. 이후 인터뷰 내용에 근거해 분류를 세분화(예: 의원급 의료기관의 임상병리사와 병원급 의료기관의 임상병리사를 구분)하고 각각에 해당하는 페르소나(persona)를 정의한 뒤 이들의 기존 경험을 저니맵(journey map)의 형태로 도식화했습니다. 이렇게 정리한 내용을 통해 새로운 제품이 사용자들과 어느 단계에서 접점을 가져야 할지, 기존 경험에서의 문제점을 어떻게 해결할 수 있을지에 대한 가설을 세우고 이를 기반으로 구체적인 기획과 디자인을 진행했습니다.</p>
{% include project-image.html filename="user-research" alt="사용자 페르소나 및 저니맵 정의" title="사용자 페르소나 및 저니맵 정의" retina="none" %}
<p class="subsection">의료 분야 특성상 이전 방식과 완전히 다른 시스템을 도입하는 것이 불가능하기 때문에 현장에서 이미 사용되고 있는 제품들의 조사에도 많은 노력을 기울였습니다. 사용자들이 과거 경험을 토대로 쉽게 새로운 시스템의 사용법을 익힐 수 있도록 기존 홀터 ECG 소프트웨어들의 인터페이스를 분석했습니다. 또한 정보 디자인에 앞서 ECG 리포트(검사 결과지)의 표준 구성을 파악하고자 다양한 타사 리포트들을 조사하였으며, 부정맥에 대한 자세한 이해를 위해 의료진의 자문을 구했습니다.</p>
{% include project-image.html filename="ecg-report-research" alt="ECG 리포트 리서치" title="ECG 리포트 리서치" %}

<h2>진단 보조 소프트웨어</h2>
<p>MEMO의 진단 보조 소프트웨어는 클라우드 기반으로 동작하는 웹 어플리케이션으로, 어느 PC에서든지 전용 웹사이트에 접속해 검사를 관리하고 데이터를 열람, 편집할 수 있습니다.</p>
<p class="subsection">전용 웹사이트에 접속해 로그인하면 검사 목록이 표시됩니다. 검사들은 크게 검사 중, 업로드 대기, 검토 중, 검토 완료의 4개 그룹으로 나뉘어 표시되며, 이 기준은 간호사와 임상병리사의 업무 단계에 따라 정해졌습니다. [검사 중] 탭에서는 새로운 검사의 추가부터 기간이 종료된 검사의 기기 반납 처리까지가 이루어집니다. 반납 처리가 된 검사는 [업로드 대기] 탭으로 이동하게 되며, 이 탭에서는 데이터 업로드를 진행해야 할 검사 건들이 얼마나 있는지 확인하고 기기로부터 추출한 파일을 서버로 전송할 수 있습니다. 데이터 업로드가 완료된 검사는 [검토 중] 탭으로 이동하여 AI 분석 단계를 거치게 됩니다. 목록에서 AI 분석이 완료된 항목을 클릭하면 검사 데이터를 확인할 수 있으며, 의료진이 해당 검사의 결과 확인을 마친 뒤 검토 완료 처리하면 [검토 완료] 탭으로 옮겨져 검사 결과지인 ECG 리포트를 생성할 수 있게 됩니다.<br><br>업무 단계별로 검사의 관리를 위해 중요하게 확인해야 하는 정보들이나 필요한 액션에 차이가 있기 때문에 각 탭마다 목록에서 보여주는 정보와 정렬 기준 등을 조금씩 다르게 구성하였습니다.</p>
{% include works/memo-2022-test-lists.html %}
<p class="subsection">검사 목록에서 AI 분석이 완료된 항목을 클릭하면 검사 데이터를 확인할 수 있습니다. 검사 데이터 페이지는 총 3개의 탭으로 구성돼있으며, 첫 번째인 [검사 요약] 탭에는 환자 기본 정보, 검사 기본 정보 등의 메타데이터와 심박과 관련된 간략한 계산값들, 그리고 발견된 부정맥의 종류별 대표 구간 그래프가 표시됩니다. 사용자는 이 내용을 통해 해당 환자의 전반적인 심전도 양상을 예측할 수 있습니다.</p>
{% include project-image.html filename="result-detail-1" alt="검사 데이터 - 검사 요약" title="검사 데이터 - 검사 요약"%}
<p class="subsection">[전체 ECG] 탭에서는 검사 기간 동안 기록된 모든 심전도 데이터를 살펴볼 수 있습니다. 부정맥이 발견된 구간은 클래스 라벨과 함께 배경색이 강조되어 표시되며, 특정 시점의 데이터를 확인하고자 할 경우 날짜와 시각을 입력해 해당 시점으로 이동할 수 있습니다.</p>
{% include project-image.html filename="result-detail-2" alt="검사 데이터 - 전체 ECG" title="검사 데이터 - 전체 ECG"%}
<p class="subsection">[이벤트 목록] 탭에서는 인공지능이 부정맥으로 판단한 구간들을 검토하고 편집할 수 있습니다. 화면 상단에는 검사 기간 동안의 심박수(HR) 추세가 시계열 그래프로 표시되며, 하단 좌측으로는 부정맥 이벤트 목록, 우측으로는 현재 선택된 항목의 심전도 그래프를 비롯한 상세 정보가 표시됩니다. HR 그래프에는 환자의 취침 시간 정보가 함께 표시되고, 데이터 검토를 원하는 시간대를 클릭하면 해당 시간대에 발생한 이벤트 항목으로 이동하게 됩니다. 나아가 검사 기간 중 환자가 증상을 느꼈다고 기록한 구간이 있는 경우 이를 빠르게 찾을 수 있도록 HR 그래프와 이벤트 목록에 별도 마킹을 하여 표시합니다. <br><br>부정맥 발생 여부나 종류를 판단할 때 의심 구간 뿐만 아니라 앞뒤로의 심전도 데이터까지 참고하는 것이 도움이 되기 때문에 각 항목마다 좌우 스크롤을 통해 이벤트 전후 구간 포함 최대 30초 길이의 ECG 그래프를 확인할 수 있게 했습니다. 또한 검토해야할 항목이 많은 경우에도 빠르게 업무를 처리할 수 있도록 주요 버튼들에 단축키를 매핑하였으며, 한 손으로 모든 단축키들을 조작할 수 있게 배치해 마우스와 동시에 사용하더라도 불편함이 없게 하였습니다.</p>
{% include project-image.html filename="result-detail-3" alt="검사 데이터 - 이벤트 목록" title="검사 데이터 - 이벤트 목록"%}

<h2>ECG 리포트</h2>
<p>검사의 최종 결과물인 ECG 리포트는 진단과 환자 진료 과정에서 핵심적인 역할을 합니다. 방대한 양의 검사 데이터를 얼마나 효율적으로 요약하느냐에 따라 의료진의 생산성이 좌우되기 때문에 문서 구성 기획과 정보 디자인이 특히 중요합니다.</p>
<p class="subsection">검사 목록의 검토 완료 탭에서 생성하기 버튼을 클릭하면 각 부정맥 종류별로 리포트 표지에 출력할 심전도 그래프를 선택할 수 있습니다. 일반적으로 증상이 가장 선명하게 나타난 구간을 표지에 포함시키기 때문에 이러한 구간을 자동으로 추천하여 첫 번째 항목으로 표시되게 하였습니다.</p>
{% include project-image.html filename="report-strip-selector" alt="리포트 생성 다이얼로그" title="리포트 생성 다이얼로그"%}
<p class="subsection">표지 페이지에서는 검사 관련 기본 정보와 리포트 생성 시 선택한 구간들을 함께 보여주어 검사 결과를 빠르게 파악할 수 있게 합니다. 이어지는 페이지들은 부정맥 종류별로 나누어 구성하였고, 부정맥의 종류에 따라 그 중요도가 달라지기 때문에 심실빈맥(VT)이나 심방세동(AF)과 같이 상대적으로 위험성이 높은 것들이 먼저 출력되게 하였습니다. 또한 추가적인 통계값을 필요로 하는 경우 관련 데이터도 함께 확인할 수 있도록 디자인했는데, 예를 들어 심방세동을 진단할 때 임상적으로 하루 중 심방세동이 발생한 시간의 비율(AF burden)을 중요한 지표로 보기 때문에 이를 막대 그래프 형태로 시각화하여 해당 페이지 상단에 위치시켰습니다.</p>
{% include project-image.html filename="ecg-report-preview" alt="ECG 리포트" title="ECG 리포트" %}
<p class="subsection">리포트에 포함되는 정보의 종류가 다양하고 특히 계산된 수치들의 기준을 명확히 하지 않을 경우 제품의 구현 뿐만 아니라 신뢰도에도 문제가 되기 때문에 편집 디자인과 별개로 각 페이지의 구성과 관련한 세부 사항들을 모두 정의해 문서 형식으로 정리하였습니다. 이 과정에서 해당 기준이 임상적으로 유의미한지, 수집된 데이터를 가공해 얻을 수 있는 값인지 등에 대해 끊임없이 의료진과 개발팀의 의견을 청취하고 그에 따라 결과물을 수정, 개선시켰습니다.</p>
{% include project-image.html filename="ecg-report-specification" alt="ECG 리포트 구성 정의" title="ECG 리포트 구성 정의" %}