---
layout: project
title: MEMO (2015)
lang: ko
ref: memo-2015
---

{% include project-image.html filename="cover" alt="MEMO (2015)" title="MEMO (2015)" %}

<h2>MEMO 워치 UX/GUI</h2>
<p>이미 시장에 출시되어있던 다른 스마트워치들과 비교해 MEMO 워치가 가장 차별화되는 부분은 사용자의 손목 위에서 혈압계 역할을 할 수 있다는 점이었습니다. 특수한 목적을 가진 제품인만큼 쉬운 작동과 정확한 측정을 위해 센서의 위치나 버튼의 형태 등과 같은 물리적 요소들이 인체공학적으로 설계될 수 있도록 PUI 리서치를 선행했습니다.</p>
{% include project-image.html filename="wearing" alt="MEMO 워치를 사용한 혈압 측정" title="MEMO 워치를 사용한 혈압 측정" %}
{% include project-image.html filename="user-research" alt="MEMO 디자인을 위한 사용자 리서치" title="MEMO 디자인을 위한 사용자 리서치" %}
{% include project-image.html filename="pui-research" alt="MEMO 워치의 PUI 디자인을 위한 소프트목업 스터디" title="MEMO 워치의 PUI 디자인을 위한 소프트목업 스터디" %}
<p>MEMO 워치의 UX는 다음 세 가지에 주안점을 두고 디자인되었습니다. 1) 초기 설정이 쉽고 빠를 것, 2) 혈압 측정까지 최소한의 단계만 거치게 할 것, 3) 측정하는 동안 사용자에게 직관적인 피드백을 줄 것.</p>
{% include project-image.html filename="device-flow" alt="MEMO 워치 화면 흐름도" title="MEMO 워치 화면 흐름도" %}
<p>디스플레이 사양에 제약이 따랐기 때문에 GUI 디자인 시 명확한 정보 전달을 최우선 목표로 삼고 각 요소들의 형태를 시각적으로 정돈하는 것에 집중하였습니다.</p>
{% include project-image.html filename="device-ui" alt="MEMO 워치 UI" title="MEMO 워치 UI" %}


<h2>BI</h2>
<p>MEMO 로고타입의 전반적 구조와 형태는 휴이노 로고타입의 견고하고 선명한 특징을 그대로 따르도록 디자인되었습니다. 주 색상으로 깊은 푸른 빛을 머금은 검정색과 금색을 조합해 MEMO의 고급스러운 브랜드 이미지를 강조하고자 하였습니다.</p>
{% include project-image.html filename="logo-desktop" onmobile="hide" alt="MEMO 로고" title="MEMO 로고" %}
{% include project-image.html filename="logo-mobile" onmobile="show" alt="MEMO 로고" title="MEMO 로고" %}
{% include project-image.html filename="bi-concept-desktop" onmobile="hide" alt="MEMO BI 디자인 중심 컨셉" title="MEMO BI 디자인 중심 컨셉" %}
{% include project-image.html filename="bi-concept-mobile" onmobile="show" alt="MEMO BI 디자인 중심 컨셉" title="MEMO BI 디자인 중심 컨셉" %}
{% include project-image.html filename="bi-on-screens-desktop" onmobile="hide" alt="MEMO BI의 적용 예시" title="MEMO BI의 적용 예시" %}
{% include project-image.html filename="bi-on-screens-mobile" onmobile="show" alt="MEMO BI의 적용 예시" title="MEMO BI의 적용 예시" %}

<h2>모바일 어플리케이션 UX/GUI</h2>
<p>MEMO 모바일 어플리케이션은 일상 생활 속에서 사용자들의 혈압 관리를 돕는 역할을 하도록 설계됐습니다. MEMO 워치로 측정한 혈압값은 휴대폰으로 자동 전송되어 저장되고, 다른 혈압기로 측정한 혈압값도 사용자가 수동으로 입력할 수 있습니다. 계정 생성과 기기 연동을 위한 과정 또한 최대한 간소화했습니다.</p>
{% include project-image.html filename="app-flow" alt="MEMO 모바일 앱 화면 흐름도" title="MEMO 모바일 앱 화면 흐름도" %}
{% include project-image.html filename="app-iconography" alt="MEMO 모바일 앱을 위한 아이콘 디자인" title="MEMO 모바일 앱을 위한 아이콘 디자인" %}
{% include project-image.html filename="app-screens" alt="MEMO 모바일 앱" title="MEMO 모바일 앱" %}