// Typography
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,700");
$base-font-family: "Work Sans", "Spoqa Han Sans Neo", sans-serif;

// Breakpoints
$breakpoint-iphoneSE: 320px;
$breakpoint-mobile: 650px;
$breakpoint-tablet: 850px;
$breakpoint-laptop: 1024px;

// Media Query Setup
@mixin for-size($size) {
  @if $size == iphoneSE {
    @media (max-width: $breakpoint-iphoneSE) {
      @content;
    }
  } @else if $size == mobile-only {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $size == tablet-portrait-down {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: ($breakpoint-mobile + 1)) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: ($breakpoint-tablet + 1)) {
      @content;
    }
  } @else if $size == tablet-only {
    @media (min-width: ($breakpoint-mobile + 1)) and (max-width: ($breakpoint-laptop - 1)) {
      @content;
    }
  } @else if $size == laptop-up {
    @media (min-width: $breakpoint-laptop) {
      @content;
    }
  }
}
@mixin for-retina {
  @media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    @content;
  }
}

// Font Sizes
$base-font-size: 1.125em;

// Line Height
$base-line-height: 1.625;
$heading-line-height: 1.5;

// Other Sizes
$base-border-radius: 0.52em;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$primary-color: #212121;
$action-color: $primary-color;
$white-color: #fff;
$black-color: #000;
$blue-color: #0086b3;
$dark-gray-color: #333;
$medium-gray-color: #9d9d9d;
$light-gray-color: #ccc;

// Font Colors
$base-font-color: $primary-color;

// Border
$base-border-color: rgba($black-color, 0.08);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white-color;
$secondary-background-color: tint($base-border-color, 80%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black-color, 0.06);
$form-box-shadow-focus: $form-box-shadow,
  0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 300ms;
$base-timing: ease;
