<div class="talk2me-chart" id="chart">
  <canvas id="dailyActiveUsers"></canvas>
  <script>
    var canvas = document.getElementById("dailyActiveUsers");
    var ctx = canvas.getContext("2d");
    var parent = document.getElementById('chart');
    canvas.width = parent.offsetWidth;
    canvas.height = parent.offsetHeight;
    var myChart = new Chart(ctx, {
      type: 'line',
      options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          fontFamily: "'Work Sans', sans-serif",
          {% if page.lang == 'ko' %}
              text: '월 단위 유료 어학 서비스의 사용자 참여율'
          {% else %}
              text: 'User engagement of a monthly paid language learning application'
          {% endif %}
        }
      },
      data: {
        {% if page.lang == 'ko' %}
            labels: ['1일', '5일', '10일', '15일', '20일', '25일', '30일'],
        {% else %}
            labels: ['Day 1', 'Day 5', 'Day 10', 'Day 15', 'Day 20', 'Day 25', 'Day 30'],
        {% endif %}
        datasets: [{
          {% if page.lang == 'ko' %}
            label: '일별 활성 사용자 비율 (%)',
          {% else %}
            label: 'Active users by day (%)',
          {% endif %}
          lineTension: 0,
          fill: true,
          data: [69, 54, 18, 14, 7, 66, 91],
          backgroundColor: "rgba(91,111,121,0.3)",
          borderColor: "rgba(91,111,121,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(91,111,121,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 2,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(91,111,121,1)",
          pointHoverBorderColor: "rgba(245,245,245,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 3,
          pointHitRadius: 10,
          spanGaps: false
        }]
      }
    });
  </script>
</div>