<div class="wrap">
  <header class="grid ss-row-reverse mt11 ms-mt3 site-header">
      <a href="index.html"><img src="../img/logo.svg" alt="Joanne Lee" class="logo site-header__logo"></a>
      <nav id="site-nav" class="col48 ms-col60">
        <ul class="grid ss-grid--column">
          <li></li>
          <li class="ss-nav-item"><a href="/profile.html">Profile</a></li>
          <li><a href="/work.html">Work</a></li>
          <li><a class="underline" href="/blog">Blog</a></li>
        </ul>
      </nav>
  </header>
</div>
