---
layout: project
title: alookso Social Interview
lang: en
ref: alookso-social-interview
sitemap:
  priority: 0.5
js: [ fontawesome.min, solid.min ]
---

{% include project-image.html filename="cover" alt="alookso Social Interview" title="alookso Social Interview" %}

<h2>Project background</h2>
<p>The conventional interview content is delivered only one-way from the professionals to the audience who reads or watches it. In addition, by the time the content is delivered, the production process has already ended, leaving users with no choice but to accept it as a one-time content. That is, they can only consume the interviewee's answers to the questions asked by the professional interviewer, but cannot engage in the content production themselves. Furthermore, it reflects only the perspective of a single producer, making it difficult to obtain a diversity of views.</p>
<p>alookso Social Interview is a format designed to lower this barrier and allow users to participate in the production of interview content in an interactive way, allowing them to ask their own questions to the interviewees, and to vote on questions left by other users, enabling them to be involved in the content as producers rather than just passive consumers.</p>
{% include project-image.html filename="project-background-desktop" onmobile="hide" alt="A conventional interview (left) and a Social Interview (right) on a similar topic" title="A conventional interview (left) and a Social Interview (right) on a similar topic" caption="A conventional interview (left) and a Social Interview (right) on a similar topic"%}
{% include project-image.html filename="project-background-mobile" onmobile="show" alt="A conventional interview (top) and a Social Interview (bottom) on a similar topic" title="A conventional interview (top) and a Social Interview (bottom) on a similar topic" caption="A conventional interview (top) and a Social Interview (bottom) on a similar topic"%}

<h2>Notable interviews</h2>
<p>After about a month of preparation, a pilot interview was carried out in December 2023. Since then, the product was subsequently revised and released as a regular feature, followed by 42 more interviews in four months.</p>
<p>Focusing on people at the centre of hot topics or experts in related field, following individuals and more were interviewed by alookso users.</p>
<ul class="showcase">
    <li>
      Lee Tan-hee (Former lawmaker of the Democratic Party of Korea / <a href="https://www.donga.com/en/article/all/20231116/4557502/1" target="_blank" rel="noreferrer">‘Satellite party’ prevention law <i class="fa-solid fa-arrow-up-right-from-square"></i></a> )
        - <a href="https://alook.so/posts/bWtdGw2/interview" target="_blank" rel="noreferrer">Read interview <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </li>
    <li>
      Shin Mingi (KAIST graduate / <a href="https://en.yna.co.kr/view/AEN20240216007900315" target="_blank" rel="noreferrer">Student carried out of graduation ceremony by the Presidential Security Service <i class="fa-solid fa-arrow-up-right-from-square"></i></a> )
        - <a href="https://alook.so/posts/YytDmBd/interview" target="_blank" rel="noreferrer">Read interview <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </li>
    <li>
      Yu Ga-young (Sewol ferry disaster survivor / <a href="https://koreajoongangdaily.joins.com/news/2024-04-16/national/socialAffairs/Ten-years-after-Sewol-tragedy-a-survivor-helps-victims-of-other-disasters-/2026669" target="_blank" rel="noreferrer">10th anniversary of Sewol ferry disaster <i class="fa-solid fa-arrow-up-right-from-square"></i></a> )
        - <a href="https://alook.so/posts/E7t3J4e/interview" target="_blank" rel="noreferrer">Read interview <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </li>
    <li>
      Ryu Ok Hada (Resigned trainee doctor from St Mary’s Hospital / <a href="https://www.bbc.com/news/world-asia-68422002" target="_blank" rel="noreferrer">2024 South Korean medical crisis <i class="fa-solid fa-arrow-up-right-from-square"></i></a> )
        - <a href="https://alook.so/posts/Kmtk6aR/interview" target="_blank" rel="noreferrer">Read interview <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </li>
    <li>
      Yunseol (<a href="https://world.kbs.co.kr/service/news_view.htm?lang=e&Seq_Code=183422" target="_blank" rel="noreferrer">‘Hair clipper assault case’ victim <i class="fa-solid fa-arrow-up-right-from-square"></i></a> )
        - <a href="https://alook.so/posts/q1tlP8b/interview" target="_blank" rel="noreferrer">Read interview <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </li>
</ul>
<br>
{% include project-image.html filename="interviewees-desktop" onmobile="hide" alt="People involved in hot topics and controversial issues featured in Social Interview" title="People involved in hot topics and controversial issues featured in Social Interview" caption="People involved in hot topics and controversial issues featured in Social Interview"%}
{% include project-image.html filename="interviewees-mobile" onmobile="show" alt="People involved in hot topics and controversial issues featured in Social Interview" title="People involved in hot topics and controversial issues featured in Social Interview" caption="People involved in hot topics and controversial issues featured in Social Interview"%}

<h2>Initial product concept & design</h2>
<p>With only one month from the project kick-off to the opening of the pilot Interview, the main challenge was to find a balance between the demands from the executives and editors and the available development resources within such a tight timeframe. On top of that, since there was no UX designer in the task force, detailed planning and product design also became the product manager's responsibility.</p>
<p>The requirements were prioritised based on whether they were essential to prove the key hypotheses set out in the concept planning phase and the MVP was designed accordingly.</p>
<ul class="showcase">
    <li>
      Key hypotheses
        <ul>
            <li>- Users value the opportunity to ask questions directly to the interviewee.</li>
            <li>- Users value the interviewee's answers.</li>
            <li>- Users who want to receive answers take additional action to do so.</li>
            <li>- Users feel validated by having their questions answered.</li>
            <li>- Users feel empowered in the behaviour of evaluating questions or answers.</li>
            <li>...</li>
        </ul>
    </li>
</ul>
<br>
{% include project-image.html filename="mvp-documents" alt="Product documents for the MVP development" title="Product documents for the MVP development" caption="Product documents for the MVP development"%}

<h2>QA</h2>
<p>As there was no dedicated QA department within the company, the QA process was carried out by writing checklist for major features and scenarios in a spreadsheet and then handing it out to all staff members for testing. Since most of the members outside of the development team were not familiar with the process and had to take extra time out of their schedules, the list was worded in plain terms and the test tasks were arranged in a sequence that connected them to each other.</p>
{% include project-image.html filename="qa-checklist" alt="A checklist spreadsheet for the QA testing" title="A checklist spreadsheet for the QA testing" caption="A checklist spreadsheet for the QA testing"%}
<p>Once the testing was finished, the results were collated and organised into a bug list, which was then discussed with the developers to prioritise the items to be fixed by the release date. For the most part, it was the product manager's responsibility to check the fixes, but when necessary, the staff member who filed the original bug report was asked to double-check.</p>
{% include project-image.html filename="bug-management" alt="Bug fix progress management" title="Bug fix progress management" caption="Bug fix progress management"%}
<p>After the full launch, the same process was done with each update in an abbreviated form.</p>

<h2>Post-launch maintenance &amp; product improvement</h2>
<p>The post-launch improvements were primarily driven by two main approaches - first, by observing user behaviour and analysing relevant metrics to identify areas that needed to be fixed, and many of the front-end improvements were made based on this.</p>
<p class="subsection">A prime example of this is how the question list tabs were reconfigured after the pilot interview. The data showed that certain tabs were substantially underused, leading to further analysis and adjustments. From this and the user feedback gathered, it was determined that a&#41; the filtering and sorting rules applied to each tab were complex and unintuitive, resulting in confusion, and b&#41; the number of tabs was more than necessary; therefore, the rules for filters/sorting and names for each tab were revised and updated accordingly. (The detailed data is not published due to confidentiality reasons.)</p>
{% include project-image.html filename="product-improvement-01" alt="Questions for the MVP retrospective" title="Questions for the MVP retrospective" caption="Questions for the MVP retrospective"%}
{% include project-image.html filename="product-improvement-02-1-desktop" onmobile="hide" alt="Before: complex and confusing tab rules" title="Before: complex and confusing tab rules" caption="Before: complex and confusing tab rules"%}
{% include project-image.html filename="product-improvement-02-1-mobile" onmobile="show" alt="Before: complex and confusing tab rules" title="Before: complex and confusing tab rules" caption="Before: complex and confusing tab rules"%}
{% include project-image.html filename="product-improvement-02-2-desktop" onmobile="hide" alt="After: simplified rules with less tabs" title="After: simplified rules with less tabs" caption="After: simplified rules with less tabs"%}
{% include project-image.html filename="product-improvement-02-2-mobile" onmobile="show" alt="After: simplified rules with less tabs" title="After: simplified rules with less tabs" caption="After: simplified rules with less tabs"%}
<p class="subsection">Also, the question categories were removed and the maximum character limit was changed from 5,000 to 1,000 characters, as a&#41; many of the questions were difficult to group into categories, and b&#41; users often asked multiple questions in a single question post, resulting in lower reading engagement and answer efficiency.</p>
{% include project-image.html filename="product-improvement-03-desktop" onmobile="hide" alt="How 'Ask question' modal was revised - before (left) and after (right)" title="How 'Ask question' modal was revised - before (left) and after (right)" caption="How 'Ask question' modal was revised - before (left) and after (right)"%}
{% include project-image.html filename="product-improvement-03-mobile" onmobile="show" alt="How 'Ask question' modal was revised - before (top) and after (bottom)" title="How 'Ask question' modal was revised - before (top) and after (bottom)" caption="How 'Ask question' modal was revised - before (top) and after (bottom)"%}
<p class="subsection">The second approach was gathering feedback from the staff members to find potential improvements, which was mainly applied when updating the admin tools. Based on these approaches, each improvement proposal was planned individually and prioritised through discussions with development and operations staff, and then implemented sequentially.</p>
{% include project-image.html filename="product-improvement-04" alt="Product documentation by features / Improvement priority & schedule management" title="Product documentation by features / Improvement priority & schedule management" caption="Product documentation by features / Improvement priority & schedule management"%}
<p class="subsection">Due to new product development projects taking place within the company, the available development resources were reduced, which led to admin-tool-related items falling to the back of the queue when setting priorities. As a temporary solution until the team could implement changes to the admin page, a manual documentation and precautions guidelines were created and distributed within the office to minimise any trouble that might arise from usability issues.</p>
{% include project-image.html filename="admin-guide-document" alt="A user manual for the admin tool page" title="A user manual for the admin tool page" caption="A user manual for the admin tool page"%}
<p class="subsection">While Notion was primarily used to manage resources and schedules during the MVP development stage and the early weeks of operation after the full launch, as the other new projects took off, the need for a more management-specific tool grew, so the team adopted Jira as a development management tool. From then on, three tools were used for product planning and management: Notion (documentation), Figma (design), and Jira (managing resource, schedule, bug, etc.).</p>