---
layout: project
title: alookso Design System
lang: en
ref: alookso-design-system
sitemap:
  priority: 0.5
---

{% include project-image.html filename="cover" alt="alookso Design System" title="alookso Design System" %}

<p>Disclaimer&colon; Some of the images in this page are not optimised for small screens. It is encouraged to read this page on tablet or devices with bigger screens.</p>

<h2>Project background</h2>
<p>The team had a change of designers and developers, but due to the inadequate handover process for existing work, we were experiencing difficulties in keeping a track of the product's history internally. In addition, the more we added new features or made maintenance to the product, the more fragmented the code and design became. This led everyone on the team to agree on the need for a thorough product review and creation of a design system.</p>
{% include project-image.html filename="project-background-01-en" alt="Inconsistent button size and arrangement" title="Inconsistent button size and arrangement"%}
{% include project-image.html filename="project-background-02-en" alt="Same controls having different UI" title="Same controls having different UI"%}
<p>In this context, we decided to migrate the product from Ruby to Next.js and rebuild all of the pages, which gave us the opportunity to start cleaning up the fragments, at least partially. Additionally, the team grew in size with the addition of a new designer and product managers, putting a higher priority on setting up a design system.</p>

<h2>Considerations before proceeding</h2>
<p>Because the resources we could allocate to the project were limited given our other workloads, the team decided to focus more on laying the fundamentals rather than striving for perfection from the start, and aimed for version 0.x not version 1.0.</p>
<p>Given that the original UI was developed using <a href="https://tailwindcss.com" target="_blank" rel="noreferrer">Tailwind CSS</a>, the approach in detailing the design system was to share the basics but make adjustments where necessary.</p>
<p>Furthermore, to achieve better efficiency and readability, the system was stripped of unnecessary elements - for example, any colours, typography, etc. that were defined in the existing style guide but not used were removed during the de-cluttering process.</p>
{% include project-image.html filename="previous-styles-en" alt="Excessively defined colours and typography styles" title="Excessively defined colours and typography styles"%}

<h2>Structuring the system</h2>
<p class="subsection">The alookso design system is structured in three levels: Foundation - Components - Patterns.</p>
{% include project-image.html filename="system-structure" alt="The structure of alookso design system" title="The structure of alookso design system"%}
<p class="subsection">Foundations are the baseline elements that compose the system, such as colours, typography, icons, elevation, spacing, and opacity.</p>
{% include project-image.html filename="foundations-colours" alt="Colours" title="Colours"%}
{% include project-image.html filename="foundations-typography" alt="Typography" title="Typography"%}
{% include project-image.html filename="foundations-icons" alt="Icons" title="Icons"%}
{% include project-image.html filename="foundations-elevation" alt="Elevation" title="Elevation"%}
<p class="subsection">Components are built on top of the foundation elements. These are reused in design and include buttons, text fields, selection controls, tabs, and more.</p>
{% include project-image.html filename="components-buttons" alt="Buttons" title="Buttons"%}
{% include project-image.html filename="components-text-field" alt="Text field" title="Text field"%}
{% include project-image.html filename="components-selection-controls" alt="Selection controls" title="Selection controls"%}
{% include project-image.html filename="components-tab" alt="Tab" title="Tab"%}
{% include project-image.html filename="components-post-metadata" alt="Post metadata" title="Post metadata"%}
<p class="subsection">Patterns are combinations of components, and you can define repetitive configurations within your product as patterns to utilise. This can include header and navigation bar. In the alookso service, the post list item is a good example of a pattern item.</p>
{% include project-image.html filename="patterns-header" alt="Header" title="Header"%}
{% include project-image.html filename="patterns-navigation-bar" alt="Navigation bar" title="Navigation bar"%}
{% include project-image.html filename="patterns-post-list-item" alt="Post list item" title="Post list item"%}
<h2>Defining tokens</h2>
<p>The existing style guide had a range of colour and typography styles defined, but these were all generically named, making it difficult to identify which style should be used in which context. It also contained tones, scales, etc. that were not used within the product, causing inefficiencies.</p>
<p class="subsection">To improve efficiency and readability, redundant styles were removed from the library and design tokens were defined in two tiers: global tokens and semantic tokens.</p>
{% include project-image.html filename="token-structure" alt="How design tokens are structured" title="How design tokens are structured"%}
<p class="subsection">Global tokens provide an expansive view of what ingredients (i.e. styles) exist within the system. In order to minimise rework, the approach to defining global tokens involved reusing naming conventions from the existing style guide where possible.</p>
{% include project-image.html filename="token-global" alt="Gloabl token examples" title="Gloabl token examples"%}
<p class="subsection">Semantic tokens are about informing which ingredient should be used where, and therefore the naming and hierarchy were intended to be self-explanatory.</p>
{% include project-image.html filename="token-semantic" alt="Semantic tokens for the colours" title="Semantic tokens for the colours"%}