---
layout: project
title: AMe concept video
lang: en
ref: ame
---

{% include project-video.html videoid="S16Y5btLSB4" %}
<br>
<h2>Product concept</h2>
<p>What differentiates AMe from the other 360° cameras is that you can take 360° video from an actual first-person point of view as it is wearable. The designer's job here was to come up with ideas to further this feature into detailed user scenarios, and the following were chosen as the product concept keywords: remind, share, and experience.</p>
{% include project-image.html filename="concepts" alt="The product concept keywords of AMe" title="The product concept keywords of AMe" %}
<p>1) Remind: Play the videos taken with AMe on a VR headset to remind and relive unforgettable moments.<br>2) Share: Use the AMe mobile application to make your own AMe video album and share it on social media.<br>3) Experience: Play other users' videos on a VR headset to 'experience' what they did and how they felt.</p>

<h2>Artworks</h2>
<p>The primary graphic elements of the video were designed in a sketch-like hand-drawn manner in order to put emphasis on the parts taken with AMe.</p>
{% include project-image.html filename="artwork-1" alt="An artwork for AMe concept video" title="An artwork for AMe concept video" %}
{% include project-image.html filename="artwork-2" alt="An artwork for AMe concept video" title="An artwork for AMe concept video" %}
{% include project-image.html filename="artwork-3" alt="An artwork for AMe concept video" title="An artwork for AMe concept video" %}
{% include project-image.html filename="artwork-4" alt="An artwork for AMe concept video" title="An artwork for AMe concept video" %}