---
layout: project
title: LINE Kids' Phone
lang: en
ref: line-kids-phone
css: [ owl.carousel.min, owl.theme.min ]
js: [ jquery-3.2.1.min, owl.carousel.min ]
---

{% include project-image.html filename="cover" alt="LINE Kids' Phone" title="LINE Kids' Phone" %}

<h2>UX</h2>
<p>Designing the user experience for LINE Kids' Phone started with an essential question: "What should the user experience of kids' wearable devices be like?" To make accessing each function easier, we limited the number of primary functions and suggested a horizontal widget stream system with a minimum screen hierarchy.</p>
{% include works/line-kids-phone-carousel.html %}
{% include project-image.html filename="device-flow-desktop" onmobile="hide" alt="UX flow sketch for LINE Kids' Phone" title="UX flow sketch for LINE Kids' Phone" %}
{% include project-image.html id="line-device-flow-mobile" filename="device-flow-mobile" onmobile="show" alt="UX flow sketch for LINE Kids' Phone" title="UX flow sketch for LINE Kids' Phone" %}
{% include project-video.html videoid="vSTIn-Z_mVk" %}