---
layout: project
title: Looxid Link
lang: en
ref: looxid-link
---

{% include project-video.html videoid="__Rng-8NZjk" %}
<br>
<h2>Product website</h2>
<p>The Looxid Link website is not only for introducing and selling the product but also for providing all information related to the product, such as a user manual, frequently asked questions, download links for applications, and event news. In order to create an eye-catching landing page, an excerpt from the promotional video and the product tagline were displayed together on the top. Following the first section of the page, the examples corresponding to each concept keyword - <i>visualise, interact, and analyse</i> - were shown to give the audience an idea of what they can expect from the product. In addition, a system structure diagram of the product, product features, technical specifications, latest news, and partners/clients list were presented on the same page so the user can get all the essential information about the product without navigating to different pages.</p>
<p>Since maintaining the website requires cross-functional collaboration between different teams within the company, it was built with WordPress. Also, all pages were designed to be responsive.</p>
{% include project-image.html filename="website-1" alt="Looxid Link website on desktop" title="Looxid Link website on desktop" %}
{% include project-image.html filename="website-2" alt="Looxid Link website on mobile" title="Looxid Link website on mobile" %}

<h2>PC application</h2>
<p>To use Looxid Link, the user needs to run Looxid Link Core, a Looxid Labs' proprietary software, on a PC connected to a VR headset. The Link Core is essential for integrating the retrieved signals from the brainwave (EEG) sensors into the VR contents. Still, despite its significance, it runs in the system tray rather than the taskbar and has a minimal look as it only has few features accessible through its UI.</p>
<p class="subsection">By clicking on the Looxid Link icon in the system tray, the user can check the connection status of the Looxid Link device and the VR application. Whenever the connection status changes, a toast message is shown in the notification area to allow the user to see the status change without opening the main UI.</p>
{% include project-image.html filename="link-core-1" alt="Looxid Link Core" title="Looxid Link Core" %}
{% include project-image.html filename="link-core-2" alt="Looxid Link Core - toast message" title="Looxid Link Core - toast message" %}
<p class="subsection">When using the product on a PC with a power cable connected, power noise is transmitted to the EEG electrodes, making it difficult to analyse data properly. Therefore it must be filtered before sending the data to the connected VR application. Because the power frequency differs between countries, users are asked to select the filter frequency that suits their environment during installation. It can be changed anytime later under the settings menu as well.</p>
{% include project-image.html filename="link-core-3-1" alt="Looxid Link Core - setup wizard" title="Looxid Link Core - setup wizard" %}
{% include project-image.html filename="link-core-3-2" alt="Looxid Link Core - notch filter settings" title="Looxid Link Core - notch filter settings" %}

<h2>Demo applications (VR)</h2>
<p>For showcasing purposes, several demo applications were provided with the product. These applications served as examples of how EEG data can be used in a VR environment.</p>
<p class="subsection">The first demo, Interaction Playground, is a minigame-type attention/relaxation training application in which objects fall or rise according to the user's attention or relaxation level. The dashboard UI in this demo comprises four panels showing real-time brainwave data: EEG sensor status, mind index (left/right activity level, attention, relaxation), feature index (delta, theta, alpha, beta, gamma), and raw signals of each channel.</p>
{% include project-image.html filename="demo-1-1" alt="Interaction Playground (demo application for Looxid Link)" title="Interaction Playground (demo application for Looxid Link)" retina="none" %}
{% include project-image.html filename="demo-1-2" alt="Interaction Playground (demo application for Looxid Link)" title="Interaction Playground (demo application for Looxid Link)" retina="none" %}
<p class="subsection">The second demo, VR Mind Care, is a neurofeedback-based meditation application. The breathing guide animation in the centre of the screen is designed to help the user control their inhale and exhale. Furthermore, the colour of the breathing guide indicates the user's real-time balance level so they can focus on meditation more efficiently. For example, when the balance level is high, the breathing guide appears in light green, and when the balance level is low, the breathing guide appears in light red.</p>
{% include project-image.html filename="demo-2-1" alt="VR Mind Care (demo application for Looxid Link)" title="VR Mind Care (demo application for Looxid Link)" retina="none" %}
{% include project-image.html filename="demo-2-2" alt="VR Mind Care (demo application for Looxid Link)" title="VR Mind Care (demo application for Looxid Link)" retina="none" %}

<h2>SDK documentation</h2>
<p>To help the users utilise brainwave data in their VR applications smoothly, the Looxid Link SDK came with a documentation page. Based on the initial draft written by the software team, the document's overall structure and format were organised and designed in the form of a web page. Since version control and distribution of the SDK were done through GitHub, the documentation page was also published via the same repository.</p>
{% include project-image.html filename="documentation-1" alt="Looxid Link SDK documentation page on desktop" title="Looxid Link SDK documentation page on desktop" %}
{% include project-image.html filename="documentation-2" alt="Looxid Link SDK documentation page on mobile" title="Looxid Link SDK documentation page on mobile" %}

<h2>Product brochure</h2>
<p>As the company participated in a number of global tech events, product brochure design was part of the project scope as well. It was designed in the A5 format considering the ease of printing and portability, and the contents were reorganised and arranged accordingly.</p>
{% include project-image.html filename="brochure-1" alt="Looxid Link brochure" title="Looxid Link brochure" %}
{% include project-image.html filename="brochure-2" alt="Looxid Link brochure" title="Looxid Link brochure" %}
{% include project-image.html filename="brochure-3" alt="Looxid Link brochure" title="Looxid Link brochure" %}

<h2>Product package</h2>
<p>In order to emphasise the 'DIYness' of the casual and versatile development kit, the product package was designed as a kraft box with monochrome printing. Each box was sealed with a strip-shaped security sticker printed with the Looxid Link logo. In addition, the main product box and the box for the supplementary EEG masks were designed in the same size to facilitate warehouse storage and bulk distribution.</p>
{% include project-image.html filename="package-1" alt="Package for Looxid Link" title="Package for Looxid Link" %}
{% include project-image.html filename="package-2" alt="Package for Looxid Link" title="Package for Looxid Link" %}
