---
layout: project
title: Looxid Labs CI
lang: en
ref: looxid-labs
---

{% include project-image.html filename="cover" alt="Looxid Labs" title="Looxid Labs" %}

<h2>CI</h2>
<p>The visual identity of Looxid Labs was conceived to symbolise the concept of convergence and to represent the company's cutting-edge technology.</p>
<div class="looxid-labs-logo" title="Looxid Labs logo">
    {% include project-image.html filename="ci-light" alt="Looxid Labs logo on light background" %}
    {% include project-image.html filename="ci-dark" alt="Looxid Labs logo on dark background" %}
</div>
{% include project-image.html filename="ci-guide" alt="CI guideline for Looxid Labs" title="CI guideline for Looxid Labs" %}
{% include project-image.html filename="ci-business-card" alt="Looxid Labs business card" title="Looxid Labs business card" %}

<h2>PC application UX/GUI</h2>
<p>LUCY is a Windows PC application for LX-I, the eye-brain interface headset. It shows graphs in the form of a widget in order to allow users to decide which ones need to be displayed. The key graphic elements were designed in bright colours with round-shaped components to keep the corporate identity consistent and make its look & feel familiar to the general audience.</p>
{% include project-image.html filename="app-sketches" alt="Rough sketches for LUCY" title="Rough sketches for LUCY" %}
{% include project-image.html filename="app-ux-planning" alt="UX planning for LUCY" title="UX planning for LUCY" %}
{% include project-image.html filename="app-screens-desktop" onmobile="hide" alt="LUCY: a PC application for LX-I" title="LUCY: a PC application for LX-I" %}
{% include project-image.html filename="app-screens-mobile" onmobile="show" alt="LUCY: a PC application for LX-I" title="LUCY: a PC application for LX-I" %}