---
layout: project
title: MEMO (2015)
lang: en
ref: memo-2015
---

{% include project-image.html filename="cover" alt="MEMO (2015)" title="MEMO (2015)" %}

<h2>Device UX/GUI</h2>
<p>The key difference between the MEMO watch and other smartwatches in the market was that the MEMO watch could measure blood pressure from the wrist. Therefore, it required careful consideration in terms of ergonomics (e.g. placement and shape of its sensor and buttons) for easy usage and accurate measurement.</p>
{% include project-image.html filename="wearing" alt="Measuring blood pressure on MEMO Watch" title="Measuring blood pressure on MEMO Watch" %}
{% include project-image.html filename="user-research" alt="User research for designing MEMO" title="User research for designing MEMO" %}
{% include project-image.html filename="pui-research" alt="Physical UI research for designing MEMO Watch" title="Physical UI research for designing MEMO Watch" %}
<p class="subsection">The following were the main points taken into account when designing the UX of the MEMO watch: effortless setup process, quick access to the blood pressure monitoring function, and intuitive feedback during the measuring.</p>
{% include project-image.html filename="device-flow" alt="MEMO Watch screen flow" title="MEMO Watch screen flow" %}
<p class="subsection">Making graphic components legible and visually appealing took a lot of work due to the device's small display with limited resolution and colours.</p>
{% include project-image.html filename="device-ui" alt="MEMO Watch UI" title="MEMO Watch UI" %}

<h2>BI</h2>
<p>The MEMO logotype shares the same 'stable and bold' characteristics with the HUINNO logotype in respect of its overall structure and shape. In addition, the main colour palette consists of deep bluish-black and gold colours in order to build a prestigious image.</p>
{% include project-image.html filename="logo-desktop" onmobile="hide" alt="MEMO logo" title="MEMO logo" %}
{% include project-image.html filename="logo-mobile" onmobile="show" alt="MEMO logo" title="MEMO logo" %}
{% include project-image.html filename="bi-concept-desktop" onmobile="hide"  alt="Main concepts for MEMO BI" title="Main concepts for MEMO BI" %}
{% include project-image.html filename="bi-concept-mobile" onmobile="show" alt="Main concepts for MEMO BI" title="Main concepts for MEMO BI" %}
{% include project-image.html filename="bi-on-screens-desktop" onmobile="hide" alt="On-screen applications of MEMO BI" title="On-screen applications of MEMO BI" %}
{% include project-image.html filename="bi-on-screens-mobile" onmobile="show" alt="On-screen applications of MEMO BI" title="On-screen applications of MEMO BI" %}

<h2>Mobile application UX/GUI</h2>
<p>The primary role of the MEMO mobile application is to help users intuitively understand trends in their blood pressure so that they can manage their health on a day-to-day basis. Blood pressure data measured with the watch automatically syncs to the application, and users can also input data manually. Processes for signing up and pairing the device were designed to have as few steps as possible so the first impression of the application could stay positive.</p>
{% include project-image.html filename="app-flow" alt="MEMO mobile application screen flow" title="MEMO mobile application screen flow" %}
{% include project-image.html filename="app-iconography" alt="MEMO iconography" title="MEMO iconography" %}
{% include project-image.html filename="app-screens" alt="MEMO mobile application" title="MEMO mobile application" %}