---
layout: project
title: Talk2Me
lang: en
ref: talk2me
css: [ owl.carousel.min, owl.theme.min ]
js: [ jquery-3.2.1.min, chart.min, owl.carousel.min ]
---

{% include project-image.html filename="cover" alt="Talk2Me" title="Talk2Me" %}

<h2>Improving conventional language learning experience on mobile</h2>
<p>The project started as a brainstorming session for developing the very first B2C service of Qualson, a South Korean ed-tech startup. The project's main objective was to overcome the flaw of the company's pre-existing B2B service and nudge users to utilise their spare time to learn English.</p>
{% include works/talk2me-chart.html %}
<div class="talk2me-features">
    {% include works/talk2me-feature.html label="a" title="Adapt instant messaging-like interface" description="Simplify the input process and make it feel spontaneous."%}
    {% include works/talk2me-feature.html label="b" title="Change content by every 2 hours" description="Make each piece of content available for a limited time only to increase user engagement."%}
    {% include works/talk2me-feature.html label="c" title="Provide a better reviewing experience" description="Highlight corrections and make a collection of corrected answers."%}
</div>

<h2>Mobile application UX/GUI</h2>
<p>The application's features are divided into four tabs: a tab with the latest question, a tab with previously answered questions and answers, a tab for setting a profile, and a tab for configuring other preferences. The user can check the available question and enter the answering screen from the primary tab. In addition, the history tab lists the user's previous answers with their matching questions.</p>
{% include project-image.html filename="sketches" alt="Early idea sketches of Talk2Me" title="Early idea sketches of Talk2Me" %}
{% include works/talk2me-carousel.html %}