---
layout: default
---

{% assign lang = page.lang %}
<section class="about-intro">
  <h1>About</h1>
  {{ content }}
</section>
<section class="about-contact">
  <h2>Get in touch</h2>
  <p><i class="fa-solid fa-envelope"></i> <a href="mailto:joanne.j.leee@gmail.com">joanne.j.leee@gmail.com</a></p>
  <p><i class="fa-brands fa-linkedin-in"></i> <a href="https://linkedin.com/in/joanneleee" target="_blank">linkedin.com/in/joanneleee</a></p>
  <p><i class="fa-brands fa-github"></i> <a href="https://github.com/joannelee" target="_blank">@joannelee</a></p>
</section>
<section class="works-list">
  <h2>Featured works</h2>
  <ul>
    {% for index in site.data.works["_sort"] %}
      {% assign work = site.data.works[index] %}
      {% if work.featured %}    
        <li>
          <a href="works/{{ work.slug }}" title="{{ work.title[lang] }}">
            <img src="/assets/images/works/{{work.slug}}/thumb.jpg" srcset="/assets/images/works/{{work.slug}}/thumb@2x.jpg 2x" alt="{{ work.title[lang] }}">
            <h3>{{ work.title[lang] }}</h3>
            <p>{{ work.summary[lang] }}</p>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>