---
layout: default
---

{% assign lang = page.lang %}
{% assign project = site.data.works[page.ref] %}
<section class="project-intro">
    <h1>{{ project.title[lang] }}</h1>
    <section class="project-intro-description">
        <div>{{ project.description[lang] }}</div>
        <ul>
            {% if project.type == 'in-house' %}
                <li><span>Company</span> <span><a href="{{ project.company.url }}" target="_blank" rel="noreferrer">{{ project.company[lang] }}</a></span></li>
            {% else %}
                <li><span>Client</span> <span><a href="{{ project.client.url }}" target="_blank" rel="noreferrer">{{ project.client[lang] }}</a></span></li>
            {% endif %}
            <li><span>Year</span> <span>{{ project.year }}</span></li>
            <li><span>Scope</span> <span>{{ project.scope[lang] }}</span></li>
        </ul>
    </section>
</section>
<section class="project-content">
    {{ content }}
</section>